.info {
  background: var(--SecondaryColor);
}
.infoContainer .titleDiv {
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 1.5rem;
}
.infoContainer .cardsDiv {
  margin-top: 1rem;
  gap: 1.5rem;
}
.singleCard {
  background: var(--WhiteColor);
  padding: 3rem 2rem;
  border-radius: 10rem;
  gap: 1rem;
  text-align: center;
  margin: auto;
  width: 90%;
  height: 320px;
  max-width: 250px;
}
.singleCard .iconDiv {
  justify-content: center;
  margin: auto;
  background: var(--PrimaryColor);
  width: max-content;
  height: 55px;
  padding: 1rem;
  border-radius: 3rem;
}
.iconDiv .icon {
  color: var(--WhiteColor);
}
.singleCard .cardTitle {
  color: var(--BlackColor);
  font-weight: 700;
}
.colorOne {
  background: var(--ColorOne);
}
.colorTwo {
  background: var(--ColorTwo);
}
