.home {
  padding-top: 10rem;
  text-align: center;
  gap: 2rem;
  flex-direction: column;
}
.mainText {
  color: var(--BlackColor);
  font-weight: 700;
  font-size: 15px;
  line-height: 2.5rem;
}

.homeImages {
  width: 100%;
  margin: 1rem auto 0;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 5rem;
}
.homeImages .videoDiv {
  width: 100%;
}
.videoDiv video {
  border-radius: 10rem;
}
.plane {
  position: absolute;
  width: 100%;
  top: -10%;
  left: -5%;
}

@media screen and (min-width: 480px) {
  .home {
    padding-top: 12rem;
  }
}
@media screen and (min-width: 570px) {
  .home .mainText {
    width: 80%;
  }
  .home .homeImages .video {
    border-radius: 15rem;
  }
  .home .homeImages .plane {
    position: absolute;
    width: 95%;
    top: -8%;
  }
}
@media screen and (min-width: 680px) {
  .home .mainText {
    width: 80%;
  }
  .home .homeImages .videoDiv {
    width: 80%;
  }
  .home .homeImages .videoDiv .video {
    width: 100%;
    height: 100%;
    border-radius: 15rem;
  }
  .home .homeImages .plane {
    width: 95%;
    top: -8%;
  }
}
@media screen and (min-width: 960px) {
  .home {
    padding-top: 13rem;
  }
  .home .mainText {
    width: 70%;
    padding-bottom: 1.5rem;
    font-size: 22px;
    line-height: 4rem;
  }
}
